<!-- Aour Section -->
<section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        {{ page.content | markdownify }}

        <h4>Gigs and tour dates WHOOOHOOOO</h4>

        <a href="http://www.songkick.com/artists/237684" class="songkick-widget" data-theme="dark" data-track-button="on" data-detect-style="true" data-background-color="transparent"></a>
        <script src="//widget.songkick.com/widget.js"></script>

      </div>
    </div>
</section>
