<!-- About Section -->
<section id="{{ page.title }}" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {{ page.content | markdownify }}

          <br />
        <iframe src="https://widgets.itunes.apple.com/widget.html?c=us&brc=000000&blc=000000&trc=000000&tlc=000000&d=One Way Ticket&t=PLAY - EP&m=song&e=song&w=250&h=370&ids=880678321,880678325,880678339,880678335,880678344&wt=playlist&partnerId=&affiliate_id=&at=&ct=" frameborder=0 style="overflow-x:hidden;overflow-y:hidden;width:250px;height: 370px;border:0px"></iframe>
          <br />
  </div>
  </div>
</section>
